{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
    <form role="form" action="{{ url_for('pomsg') }}" method=post>
        <div class="form-group">
            {{ form.message(class="form-control", id="message") }}
            {{ form.upload(class="form-control", id="upload") }}
            {{ form.submit(class="btn btn-link", style="color:green") }}
        </div>
    </form>
    {% for item in msgs %}
    <div id={{ item.mid }} class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading">{{ item.user }} @ {{item.time}}
                <button type="button" class="btn btn-link btn-xsm">
                    <a href="/delmsg/{{ item.mid }}" method=get style="text-decoration:none; color:green">delete</a>
                </button>
            </div>
        </div>
        <div class="panel-body">{{ item.message }}</div> 
    </div>
    <hr/>
    {% endfor %}
{% endif %}
{% endblock %}
