<!doctype html>
<title>TC</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<div class=page>
    <a href="{{url_for('index')}}"><h1>Welcome to TC</h1></a>
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
        <a href="{{ url_for('register') }}">register</a>
    {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
    {% endfor %}
    {% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% endblock %}
</div>
