{% extends "layout.html" %}
{% block body %}
<h2>login</h2>
{% if not session.logged_in %}
<form role="form" action="{{ url_for('login.verify_login') }}" method=post>
    <div class="form-group"> 
        <label for="username">{{ form.username.label }}</label> 
        {% if form.username.data %}
            {{ form.username(class="form-control", id="username", value=form.username.data) }}
        {% else %}
            {{ form.username(class="form-control", id="username") }}
        {% endif %}
        <label for="password">{{ form.password.label }}</label> 
        {{ form.password(class="form-control", id="password") }}
        {{ form.submit(value="login", class="btn btn-link", style="color:green") }}
        <button class="btn btn-link">
            <a href="{{ url_for('register.register') }}" style="text-decoration:none; color:green">register</a>
        </button>
        <hr/>
        <button class="btn btn-link">
            <a href="{{ url_for('login.google_login') }}" style="text-decoration:none; color:green">login with google</a>
        </button>         
    </div>
</form>
{% endif %}
{% endblock %}
